[[extend 'layout.html']]

<div class="section" >

    <!-- Complete 
        Display the contact requests in reverse chronologocial order.

        The page should only be accessible by admin@example.com

        Non-logged in users or users with other emails should be redirected to the index page.
    
        Display a grid of contact requests with the following columns:
            - Name: Text Input
            - Email: Text Input
            - Phone: Number Input
            - Message: TextArea

            Grid should be accurately substring searchable by:
            - Name
            - Message



        
        

    -->
<div id="app">
    <div class="section">
        <div class="container">
            <h1 class="title">Contact Requests</h1>
                <div class="field">
                    <div class="control">
                        <input v-model="nameSearch" @input="search_forms_name(nameSearch)" class="search-input" type="text" placeholder="Search by Name">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input v-model="messageSearch" @input="search_forms_message(messageSearch)" class="search-input" type="text" placeholder="Search by Message">
                    </div>
                </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Message</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="form in filtered_forms">
                        <td>{{ form.name }}</td>
                        <td>{{ form.email }}</td>
                        <td>{{ form.phone }}</td>
                        <td>{{ form.message }}</td>
                        <td>
                            <button @click="delete_form(form.id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

[[block page_scripts]]

<script>
    let load_all_forms_url = "[[=XML(load_all_forms_url)]]";
    let contact_requests_url = "[[=XML(contact_requests_url)]]";
    let delete_form_url = "[[=XML(delete_form_url)]]";
</script>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"></script>
<script src="js/index.js"></script>
[[end]]



