[[extend 'layout.html']]

<div class="section" >

    <!-- Complete 
        Display the contact requests in reverse chronologocial order.

        The page should only be accessible by admin@example.com

        Non-logged in users or users with other emails should be redirected to the index page.
    
        Display a grid of contact requests with the following columns:
            - Name: Text Input
            - Email: Text Input
            - Phone: Number Input
            - Message: TextArea

            Grid should be accurately substring searchable by:
            - Name
            - Message

    -->
    
</div>
