[[extend 'layout.html']]

<div id="app">
  <div class="section">
    <div class="container">
      <h1 class="title">Contact Us</h1>
      <form id="contact-form">
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input class="name" type="text" placeholder="Name" id="name" name="name" v-model="new_form.name" required>
          </div>
        </div>

        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input class="email-input" type="email" placeholder="Email" id="email" v-model="new_form.email" required>
          </div>
        </div>

        <div class="field">
          <label class="label">Phone</label>
          <div class="control">
            <input class="phone-input" type="number" placeholder="Phone" id="phone" v-model="new_form.phone" required>
          </div>  
        </div>

        <div class="field">
          <label class="label">Message</label>
          <div class="control">
            <textarea class="message-input" placeholder="Message" id="message" v-model="new_form.message" required></textarea>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <button class="button is-primary" @click.prevent="create_form" :disabled="!new_form.name || !new_form.email || !new_form.phone || !new_form.message">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

[[block page_scripts]]

<script>
  let create_form_url = "[[=XML(create_form_url)]]";
</script>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"></script>
<script src="js/index.js"></script>
[[end]]
