[[extend 'layout.html']]

<div class="section" >

  <!-- Complete
  Display the contact form for visitors.

  The form should have the following fields:
    <header>Contact Us<\header> 
    <form>
      - Name: Text Input
      - Email: Text Input
      - Phone: Number Input
      - Message: TextArea
    
    The form should have a submit button that is disabled if any of the fields are empty.
      if (check no field is empty):
        <Button bg: 'green'>Submit<\Button>
      else:
        <Button bg: 'gray'>Submit<\Button>
        <p fg: 'red'>Fill in all fields<\p>

          

  -->


</div>


